{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment_delete'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <p>{{ comment.text }}</p>

    <p>{{ 'sure'|trans }}</p>

{% include 'default/_form.html.twig' with {
    page_title: 'comment_delete',
    page_title_param: {'%id%': comment.id},
    attr: {
        method: 'DELETE',
        action: url('comment_delete', {'id': comment.id}),
    },
} %}

{% endblock %}