{% extends 'base.html.twig' %}

{% block title %}
    PhotoShare - Homepage
{% endblock %}

{% block body %}
    {% block content %}
        <main>
            <article>
                <header>
                    <h1 class="text-center">
                        {{ 'welcome'|trans }}<span class="logo"> PhotoShare!</span>
                    </h1>
                </header>
                <hr>
                    <header>
                        <h2 class="text-center">
                            {{ 'new_photos'|trans }}
                        </h2>
                    </header>
                    {% include 'photo/gallery.html.twig' %}
                {#{% endif %}#}
            </article>
        </main>
    {% endblock %}
{% endblock %}