.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.flex-container .photo img, .flex-container.photo img{
    height: 20rem;
    /* width: auto!important; */
     width: 100%;
    /*min-width: 30rem;*/
    object-fit: cover;
    transition: cubic-bezier(.25,.1,.25,1);
}
.flex-container .photo img:hover, .flex-container.photo img:hover{
    /*object-fit: none;*/
    filter: brightness(1.1);
}
.photo{
    width: 25%;
}
.photo figure{
    width: 100%;
}

.flex-container.crud{
    justify-content: flex-end;
}

.comment .flex-container{
    justify-content: space-between;
}

.flex-justify-start{
    justify-content: start;
}

.flex-justify-space_between{
    justify-content: space-between;
}

.flex-justify-start>a{
    margin: 0.2em;
}

