:root {
    /*
        Colors
    */
    /*
        main-font - white
        first - dark grey
        second - yellow
        third - purple
    */
    --main-font-color: #424242;
    --main-background-color: #FFFEFF;
    --first-color: #dfbd99;
    --first-color-alpha: rgba(223, 189, 153, 0.3);
    --first-darker-color: #b49e88;
    --second-color: #424242;
    --third-color: #7c2f6a;


}

body{
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

ul li{
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: var(--first-color);
}

a:hover {
    filter: brightness(0.85);
}

article{
    margin: 2em 0;
}

/*BODYHEADER*/
.logo{
    font-family: 'Montserrat', sans-serif;
}

nav.flex-container a, nav.flex-container h1{
    margin: 0;
    padding: 0.1em;
}

header.main{
    background-color: var(--second-color);
}



/*INDEX HOME*/


.btn, input, .comment{
    border-radius: 20px!important;
}
.btn-danger {
    color: #fff;
    background-color: var(--first-darker-color); /*#b49e88;*/
    border-color: var(--second-color);
}

.btn-primary {
    color: #fff;
    background-color: var(--first-darker-color);
    border-color: var(--second-color);
}

a.btn-default{
    background-color: var(--main-background-color);
    border: 1px solid var(--first-color);
}

a.btn-default, a.btn-default:hover{
    color: var(--second-color);
}

form button{
    background: no-repeat;
    border: none;
    color: var(--first-color);
    cursor: pointer;
}

#registry{
    padding: 0.1em 0.3em;
    margin: 0 0.3em;
    background-color: var(--first-color);
}

.nav-gallery {
    margin: 1rem;
}

li .page-link,li.page-item.disabled .page-link, li.page-item.active .page-link{
    background-color: var(--first-color);
    color: var(--second-color);
    border-color: var(--first-darker-color);
}
li.page-item.disabled .page-link{
    background-color: var(--first-darker-color);
    color: var(--main-font-color);
}
li.page-item.active .page-link, li .btn{
    background-color: var(--second-color);
    color: var(--first-color);
}



/*VIEW PHOTO*/

img#view{
    height: calc(100vh - 100px);
}

#like{
    display: flex;
    align-items: center;
}

#photo-description{
    font-size: 2rem;
}

button.like{
    background-color: initial;
    border: 0!important;
    cursor: pointer;
}
button:focus {
    outline: 0;
}
button i{
    color: var(--first-color);
}
button:hover i{
    color: var(--first-darker-color);
}



.comment{
    /*background-color: var(--first-color-alpha);*/
    border: 1px solid var(--first-color);
    padding: 1em;
}
.comment ul {
    border-right: 1px solid var(--first-color);
    width: inherit;
    padding: 0;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

form #comment{
    display: inline-block;
}


.glyph-image{
    display: block;
    font-size: 1000%;
    color: #00000026;
    margin: 0.3em;
}

