{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_edit'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h3 class="text-center login">
        {{ user.login|default('login') }}{#login of user#}
    </h3>
    <p>{{ 'sure'|trans }}</p>
    {% include 'default/_form.html.twig' with {
    page_title: 'title.user_delete',
    page_title_param: {'%id%': user.id},
    attr: {
        method: 'DELETE',
        action: url('user_delete', {'id': user.id}),
    },
    back_to_list_path: 'user_index',
} %}

{% endblock %}