{% extends 'base.html.twig' %}

{% block title %}
    {{ 'photo_delete'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <figure class="col-md-3">
        <img src="{{ asset('uploads/photos/' ~ photo.file.source) }}" alt="{{ photo.file.source }}">
    </figure>
    <p>{{ 'sure'|trans }}</p>
{% include 'default/_form.html.twig' with {
    page_title: 'photo_delete',
    page_title_param: {'%id%': photo.id},
    attr: {
        method: 'DELETE',
        action: url('photo_delete', {'id': photo.id}),
    },
} %}

{% endblock %}