{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_list'|trans }}
{% endblock %}

{% block body %}
    <article>
        <a class="btn btn-primary" href="{{ url('photo_new') }}" title="{{ 'action.new'|trans }}">{{ 'new'|trans }}</a>
        {% block gallery %}
            {% include 'photo/gallery.html.twig' %}
        {% endblock %}
    </article>
{% endblock %}