{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_list'|trans }}
{% endblock %}

{% block body %}
    <article>
        <header>
            <h3>{{ tag.name }}</h3>
        </header>
        {% block gallery %}
            {% include 'photo/gallery.html.twig' %}
        {% endblock %}
    </article>
{% endblock %}